/* @import url("https://fonts.googleapis.com/css2?family=Delius&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Send+Flowers&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Delius&family=Send+Flowers&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Delius&display=swap"); */

@import url("https://fonts.googleapis.com/css2?family=Delius&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Send+Flowers&display=swap");

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "Poppins", sans-serif;
}

html,
body {
	height: 100vh;
	width: 100vw;
	background-color: black;
	color: white;
	overflow-x: hidden;
}

#container {
	display: flex;
	gap: 7px;
	padding: 8px;
	height: 100%;
	box-sizing: border-box;
	overflow: hidden;
}

.left {
	width: 339px;
	overflow: hidden;
	display: flex;
	flex-direction: column;
	gap: 7px;
	border-radius: 10px;
}

.upper {
	background-color: rgb(18, 18, 18);
	height: 17vh;
	padding: 22px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	border-radius: 10px;
}

#spotify {
	width: fit-content;
	filter: invert(1);
	cursor: pointer;
}

.svg {
	width: fit-content;
	display: flex;
	gap: 20px;
	align-items: center;
	font-weight: 900;
	cursor: pointer;
}

.svg img {
	width: 25px;
	filter: invert(1);
}

#search_box {
	position: relative;
	display: flex;
	align-items: center;
	width: fit-content;
	font-weight: 900;
	transition: 0.5s;
}

#search_text {
	height: 2vw;
	padding: 5px;
	border-top-left-radius: 10px;
	border-bottom-left-radius: 10px;
	background-color: rgba(255, 255, 255, 0);
	border: 2px solid rgba(255, 255, 255, 0.664);
	color: white;
}

#search_icon {
	height: 2vw;
	width: 2vw;
	padding: 5px;
	border-bottom: 2px solid rgba(255, 255, 255, 0.664);
	border-top: 2px solid rgba(255, 255, 255, 0.664);
	border-right: 2px solid rgba(255, 255, 255, 0.664);
	border-bottom-right-radius: 10px;
	border-top-right-radius: 10px;
	background-color: rgba(255, 255, 255, 0);
	display: flex;
	align-items: center;
	justify-content: center;
	cursor: pointer;
}

#search_icon img {
	filter: invert(1);
}

.search_click {
	height: 50px;
	width: 150px;
	border-radius: 10px;
	text-align: center;
	background-color: red;
	position: absolute;
	top: 110%;
	z-index: 1000;
	opacity: 1;
	pointer-events: none;
	display: none;
}

.bottom {
	background-color: rgb(18, 18, 18);
	height: 83vh;
	position: relative;
	border-radius: 10px;
}

.bottom1 {
	padding-left: 22px;
	padding-right: 22px;
	padding-top: 10px;
	padding-bottom: 10px;
	position: relative;
	height: 9.5vh;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.plus {
	width: 23px;
	height: 22px;
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 70%;
}

.plus img {
	filter: invert();
	width: 17px;
}

.plus:hover {
	cursor: pointer;
	background-color: rgba(255, 255, 255, 0.322);
}

.bottom2 {
	height: 45.395vh;
	padding-top: 3px;
	padding-bottom: 3px;
	display: flex;
	flex-direction: column;
	gap: 25px;
	scrollbar-width: thin;
	scrollbar-color: #55555563 rgba(27, 27, 27, 0);
	overflow-y: scroll;
}

.bottom_box {
	width: 97%;
	border-radius: 10px;
	background-color: rgb(36, 36, 36);
	padding: 19px;
}

.bottom_box_p1 {
	font-size: 18px;
	font-weight: bold;
	margin-bottom: 10px;
}

.bottom_box_p2 {
	margin-bottom: 10px;
}

.bottom_box_button {
	border: none;
	border-radius: 20px;
	height: 35px;
	padding-left: 13px;
	padding-right: 13px;
	font-weight: bold;
}

.bottom_box_button:hover {
	scale: 1.02;
	cursor: pointer;
}

.bottom3 {
	padding-top: 15px;
	/* height: 25.89vh; */
	display: flex;
	align-items: end;
}

#a_section {
	padding: 7%;
	height: 160px;
}

#a_section a {
	opacity: 0.7;
	display: inline-block;
	color: white;
	margin-right: 10px;
	margin-bottom: 8px;
	font-size: 13px;
	text-decoration: none;
}

#cookies {
	font-size: 15px;
}

#cookies:hover {
	text-decoration: underline;
	cursor: pointer;
}

#english {
	border: 1px solid rgba(255, 255, 255, 0.445);
	height: 30px;
	width: 103px;
	font-weight: bold;
	font-size: 14px;
	margin-top: 5%;
	border-radius: 20px;
	background-color: black;
	color: white;
	box-shadow: none;
	text-decoration: none;
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 7px;
}

#english:hover {
	border: 1.6px solid white;
	scale: 1.03;
	cursor: pointer;
}

#english img {
	filter: invert(1);
	width: 20px;
}

.right {
	width: calc(100vw - 339px);
	height: 100%;
	overflow: hidden;
}

.nav {
	background-color: rgb(16, 16, 16);
	height: 60px;
	border-radius: 10px 10px 0px 0px;
}

.nav_button {
	height: 100%;
	padding-left: 15px;
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 10px;
}

#new_nav {
	display: none;
}

.nav_login {
	gap: 15px;
	padding: 50px;
}

.signup {
	font-weight: bold;
	font-size: 17px;
	opacity: 0.7;
}

.signup:hover {
	scale: 1.06;
	opacity: 1;
	cursor: pointer;
}

.login {
	background-color: white;
	color: black;
	font-weight: bold;
	font-size: 17px;
	height: 50px;
	width: 90px;
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 25px;
}

.login:hover {
	scale: 1.06;
	opacity: 1;
	cursor: pointer;
}

#right_body {
	padding-bottom: 10px;
	border-radius: 0px 0px 10px 10px;
	height: calc(100vh - 60px);
	overflow-y: scroll;
	scrollbar-width: thin;
	scrollbar-color: rgba(136, 136, 136, 0.377) rgba(22, 22, 22, 0);
	background: linear-gradient(
		to bottom,
		rgba(44, 44, 44, 0.719) 1vh,
		rgb(18, 18, 18)
	);
}

.right_content {
	height: auto;
	width: 100%;
	margin-bottom: 15px;
	padding-left: 17px;
	padding-top: 17px;
}

.content_upper {
	height: 3.5vw;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.content_upper_left p {
	font-family: "Send Flowers", cursive;
	/* font-style: normal; */
	font-weight: 600;
	font-size: 30px;
	transition: 0.25s;
}

.content_upper_left p:hover {
	color: red;
	text-decoration: underline 2px solid rgb(255, 255, 255);
	cursor: pointer;
}

.content_upper_right {
	display: flex;
	align-items: center;
	justify-content: center;
	opacity: 0.7;
}

.content_upper_right:hover {
	cursor: pointer;
	text-decoration: underline 2px solid yellow;
}

.content_upper_right p {
	padding-right: 10px;
}

.content_section {
	height: auto;
	display: flex;
}

.content {
	height: 14.7vw;
	width: 12vw;
	cursor: pointer;
	transition: 0.2s;
	border-radius: 8px;
	padding: 8px;
}

.content:hover {
	background-color: rgba(127, 110, 221, 0.171);
}

.content_img {
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	position: relative;
}

.content_img img {
	height: 100%;
	width: 100%;
	border: 2px solid black;
	/* border-radius: 51% 49% 48% 52% / 49% 49% 51% 51%; */
	border-radius: 100%;
	box-shadow: 0px 0px 17px 2px red;
	animation: border_animation 5s linear infinite;
}

@keyframes border_animation {
	0% {
		border-radius: 51% 49% 48% 52% / 49% 49% 51% 51%;
		box-shadow: 0px 0px 17px 5px red;
	}
	25% {
		box-shadow: 0px 0px 17px 5px rgb(9, 255, 0);
	}
	35% {
		border-radius: 60% 40% 57% 43% / 40% 54% 46% 60%;
	}
	50% {
		box-shadow: 0px 0px 17px 5px blue;
	}
	65% {
		border-radius: 67% 33% 68% 32% / 27% 70% 30% 70%;
	}
	75% {
		box-shadow: 0px 0px 17px 5px yellow;
	}
	100% {
		border-radius: 51% 49% 48% 52% / 49% 49% 51% 51%;
		box-shadow: 0px 0px 17px 5px red;
	}
}

.song_img img {
	height: 100%;
	width: 100%;
	border-radius: 10px;
}

.content_name {
	height: 3.9vw;
	min-width: 122px;
	padding-left: 5px;
	padding-top: 10px;
	padding-bottom: 1px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	gap: 5px;
}

.content_name h3 {
	font-family: "Delius", cursive;
	font-weight: 400;
	font-style: normal;
}

.content_name h4 {
	font-family: "Send Flowers", cursive;
	font-weight: 400;
	font-style: normal;
	opacity: 0.7;
}

.content_play {
	border-radius: 100%;
	background-color: red;
	height: 0;
	width: 0;
	position: absolute;
	right: 20%;
	bottom: -30%;
	opacity: 0;
	transition: 0.25s;
	display: flex;
	align-items: center;
	justify-content: center;
}

.content_play img {
	animation: none;
	border-radius: 100%;
	border: 0.5px solid black;
	box-shadow: none;
}

.content:hover .content_play {
	opacity: 1;
	bottom: 0;
	height: 48px;
	width: 48px;
	right: 10%;
}

@media (max-width: 1850px) {
	.left {
		width: 339px;
	}

	.right {
		width: calc(100vw - 339px);
	}

	.right_content {
		/* height: 47vh; */
		height: auto;
	}

	.content_section {
		/* height: 36vh; */
		height: auto;
	}

	.content {
		/* height: 36vh; */
		height: 16vw;
		width: 13.17vw;
		display: flex;
		flex-direction: column;
		justify-content: center;
	}

	.content_7 {
		display: none;
	}
}

@media (max-width: 1640px) {
	.left {
		width: 339px;
	}

	.right {
		width: calc(100vw - 339px);
	}

	.right_content {
		height: 24.8vw;
	}

	.content_section {
		height: 18.8vw;
	}

	.content {
		height: 18.8vw;
		width: 15.28vw;
		display: flex;
		flex-direction: column;
		justify-content: center;
	}

	.content_6 {
		display: none;
	}

	.content_7 {
		display: none;
	}
}

@media (max-width: 1290px) {
	.left {
		width: 339px;
		overflow: hidden;
		gap: 7px;
	}

	.upper {
		height: 31.8vh;
	}

	.bottom {
		height: 68.2vh;
	}

	.bottom2 {
		height: 20vh;
	}

	.bottom3 {
		height: auto;
	}

	.right {
		width: auto;
	}

	.right_content {
		/* height: 49.3vh; */
		height: auto;
	}

	.content_section {
		/* height: 37.67vh; */
		height: auto;
	}

	.content {
		/* height: 39.7vh; */
		height: 22.5vw;
		width: 17.5vw;
		display: flex;
		flex-direction: column;
		justify-content: center;
	}

	.content_5 {
		display: none;
	}

	.content_6 {
		display: none;
	}

	.content_7 {
		display: none;
	}
}

@media (max-width: 500px) {
	#container {
		display: flex;
		flex-direction: column;
		width: 100vw;
		height: 100vh;
		gap: 5px;
	}

	.left {
		display: none;
	}

	.right {
		width: auto;
		position: relative;
		height: 100vh;
	}

	.nav_button {
		display: none;
	}

	#new_nav {
		display: flex;
		padding-left: 7px;
	}

	#spotify_nav {
		/* width: 8px; */
		cursor: pointer;
		display: flex;
		align-items: center;
		justify-content: center;
	}

	#spotify_nav img {
		height: 10vw;
		padding-right: 7px;
	}

	#search_box_nav {
		display: flex;
		align-items: center;
		width: fit-content;
	}

	#search_text_nav {
		height: 10vw;
		width: 20vw;
		padding: 5px;
		font-weight: 500;
		font-size: 10px;
		border-top-left-radius: 10px;
		border-bottom-left-radius: 10px;
		background-color: rgba(255, 255, 255, 0);
		border: 2px solid rgba(255, 255, 255, 0.664);
		color: white;
	}

	#search_icon_nav {
		height: 10vw;
		width: 10vw;
		padding: 5px;
		border-bottom: 2px solid rgba(255, 255, 255, 0.664);
		border-top: 2px solid rgba(255, 255, 255, 0.664);
		border-right: 2px solid rgba(255, 255, 255, 0.664);
		border-bottom-right-radius: 10px;
		border-top-right-radius: 10px;
		background-color: rgba(255, 255, 255, 0);
		display: flex;
		align-items: center;
		justify-content: center;
		cursor: pointer;
	}

	#search_icon_nav img {
		filter: invert(1);
		height: 7vw;
		opacity: 0.7;
	}

	.search_click {
		top: 12%;
		width: 150px;
	}

	.nav_login {
		padding: 5px;
		gap: 3px;
		display: flex;
		align-items: center;
		justify-content: center;
	}

	.signup {
		font-size: 12px;
		height: 25px;
		width: 50px;
		display: flex;
		align-items: center;
		justify-content: center;
	}

	.login {
		font-size: 12px;
		height: 25px;
		width: 50px;
		display: flex;
		align-items: center;
		justify-content: center;
	}

	.right_content {
		height: auto;
		width: 100%;
		margin-bottom: 15px;
		padding-left: 17px;
		padding-top: 17px;
		overflow-x: scroll;
		-ms-overflow-style: none; /* For Internet Explorer and Edge */
		scrollbar-width: none; /* For Firefox */
	}

	.right_content::-webkit-scrollbar {
		display: none; /* For Chrome, Safari, and Opera */
	}

	.content_upper {
		height: inherit;
	}

	.content_upper_left p {
		font-weight: 500;
		font-size: 21px;
	}

	.content_section {
		height: inherit;
	}

	.content {
		height: inherit;
		width: 41vw;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		padding: 0;
		padding-top: 8px;
		padding-left: 8px;
	}

	.content_name {
		font-weight: 100;
		font-size: 13px;
		height: auto;
	}

	.content_name h4 {
		font-family: "Poppins", sans-serif;
	}
}
